<!DOCTYPE html>
<html>
  <head>
    <title>Firewah</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag  'bootstrap.min', 'application' %>
    <%= javascript_include_tag 'jquery','bootstrap.min',  'jquery-ujs',
        'reconnecting-websocket', 'notify','application' %>
  </head>

  <body>
<nav class="navbar navbar-expand navbar-dark bg-dark">
<div class="collapse navbar-collapse" id="navbarsExample02">
        <ul class="navbar-nav mr-auto">
          <li>
          <span class="dot" id="wsstatus"></span>
          </li>
          <li class="nav-item active">
            <%= link_to 'Home', '/', :class => 'nav-link' %>
          </li>
         <li class="nav-item active">
            <%= link_to 'Ping', '#', :class => 'nav-link btn btn-primary', :id => "ping_button" %>
          </li>
        </ul>
       
      </div>
</nav>
   Sup <%= visitor.name %>  (<%= link_to 'logout', '/logout' %>)

    <%= yield %>
  </body>
</html>
